[submodule "cutlass"]
	path = cutlass
	url = https://github.com/NVIDIA/cutlass
[submodule "apex"]
	path = apex
	url = git@github.com:NVIDIA/apex.git
[submodule "pictc"]
	path = pictc
	url = https://github.com/vishalmehta1991/pictc
